<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="superuserDatabase" value="postgres"/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
          connectionString="host=localhost;port=5432;database=simple_test;user id=postgres;password=postgres;pooling=false"
          providerName="Npgsql" />
    <add name="Test"
          connectionString="host=localhost;port=5432;database=simple_test;user id=postgres;password=postgres;pooling=false"
          providerName="Npgsql" />
  </connectionStrings>
</configuration>