<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Npgsql" version="2.0.11" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="Utility" version="0.6.1.0" />
  <package id="Utility.Database" version="0.18.0.2" />
  <package id="Utility.Database.PostgreSql" version="0.18.0.2" />
  <package id="Utility.Logging" version="1.3.3.1" />
</packages>